{% extends 'blank-page.html' %}
{% load static %}
{% block body %}
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="m-2 p-2">
            <div class="">
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Waba Yangu Products and Services</h2>
                                <p class="pageheader-text">Here are the products and services offered by waba yangu</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">{{ customer.username }}</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Products and Services</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        {% for product in products %}
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="product-thumbnail">
                                <div class="product-img-head">
                                    <div class="product-img">
                                        <img src="{{ product.image.url }}" alt="" class="img-fluid">
                                        <div class="ribbons"></div>
                                        <div class="product-content">
                                            <div class="product-content-head">
                                                <h3 class="product-title">{{ product.name }}</h3>
                                                <p>{{ product.description }}</p>
                                                <div class="product-price">Kshs{{ product.price }}</div>
                                            </div>
                                            <div class="product-btn">
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                                <a href="#" class="btn btn-outline-light">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}