{% extends 'blank-page.html' %}
{% load static %}
{% block body %}
    <div class="m-2 p-2">
        <div class="container-fluid">
            <!-- Page header -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Invoice #{{ invoice.id }}</h2>
                        <p class="pageheader-text">Details of your recent purchase</p>
                    </div>
                </div>
            </div>
            <!-- End page header -->

            <!-- Invoice content -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-right">
                                <h3 class="mb-0">Invoice #{{ invoice.id }}</h3>
                                Date: {{ invoice.issue_date }}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <h5>From:</h5>
                                    <h3 class="text-dark">{{ sale.customer.user.get_full_name }}</h3>
                                    <div>{{ sale.customer.email }}</div>
                                    <div>{{ sale.customer.phone }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h5>To:</h5>
                                    <h3 class="text-dark">{{ sale.customer.user.get_full_name }}</h3>
                                    <div>{{ sale.customer.email }}</div>
                                    <div>{{ sale.customer.phone }}</div>
                                </div>
                            </div>
                            <div class="table-responsive-sm">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Unit Cost</th>
                                            <th>Qty</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{ sale.product.name }}</td>
                                            <td>{{ sale.product.description }}</td>
                                            <td>${{ sale.product.price }}</td>
                                            <td>{{ sale.quantity }}</td>
                                            <td>${{ sale.total_price }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Total calculations -->
                            <div class="row">
                                <div class="col-lg-4 col-sm-5"></div>
                                <div class="col-lg-4 col-sm-5 ml-auto">
                                    <table class="table table-clear">
                                        <tbody>
                                            <tr>
                                                <td class="left"><strong>Subtotal</strong></td>
                                                <td class="right">${{ invoice.total_price }}</td>
                                            </tr>
                                            <tr>
                                                <td class="left"><strong>Discount (20%)</strong></td>
                                                <td class="right">${{ discount }}</td>
                                            </tr>
                                            <tr>
                                                <td class="left"><strong>Total</strong></td>
                                                <td class="right"><strong>${{ invoice.total_amount }}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p>Thank you for your purchase!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
